<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register</title>
</head>
<body>
	<form action="" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}"> Name:<input type="text"
			th:field="${user.name}" autofocus="autofocus" /><br /> Email: <input
			type="text" th:field="${user.username}" autofocus="autofocus" /> <br />
		Password: <input type="password" th:field="${user.password}"
			autofocus="autofocus" /> <br /> Confirm Password: <input
			type="password" autofocus="autofocus" /> <br />
		<button type="submit">Register</button>
	</form>
</body>
</html>